@import (reference) "bootstrap/less/variables.less";
@import (reference) "bootstrap/less/mixins.less";
@import (reference) "@universityofwarwick/id7/less/variables.less";
@import (reference) "@universityofwarwick/id7/less/mixins.less";
@import "@universityofwarwick/id7/less/id7-no-fa";
@import "@universityofwarwick/id7/less/font-awesome-pro";
@import "id7-theme";
@import "sysadmin-notices";
@import "error-pages";
@import "flexi-picker";

@id7-ignore-id6-legacy: true;
@id7-image-root-dir: './lib/id7/images';
@icon-font-path: './lib/fontawesome-pro/webfonts';
@fa-font-path: './lib/fontawesome-pro/webfonts';
@brand-colour: #303060;


dt {
  font-weight: normal;
  float: left;
  width: 20rem;
  text-align: right;
  padding-right: 1.5rem;
  color: #666;
}

dd {
  font-weight: bold;
}

dt, dd {
  line-height: 1.6;
}

.tab-content {
  margin-top: 1.5rem;
}


.nav-tabs {
  > li.active {
    font-weight: bold;
  }

  @media (min-width: @screen-sm-min) {
    html.flexbox & {
      display: flex;

      > li {
        flex: 1 1 0;
        white-space: nowrap;

        > a i {
          margin-right: 5px;
        }
      }
    }
  }
}

.home-search {
  margin-top: 23px;

  .form-group {
    margin-bottom: 8px;
  }
}

summary {
  cursor: pointer;
  display: list-item;
}
