spring:
  resources:
    chain:
      cache: true
      strategy:
        content:
          enabled: true
          paths: /assets/**
    cache:
      cachecontrol:
        cache-public: true
        max-age: 31536000
  mvc:
    contentnegotiation:
      favor-path-extension: true
    pathmatch:
      use-suffix-pattern: true
      use-registered-suffix-pattern: true
  quartz:
    scheduler-name: camcat
    job-store-type: jdbc
    auto-startup: false
    overwrite-existing-jobs: true
    properties:
      org.quartz.jobStore.driverDelegateClass: org.quartz.impl.jdbcjobstore.PostgreSQLDelegate
  jpa:
    open-in-view: false
  datasource:
    sits:
      schema: INTUIT
      data-source-properties:
        oracle.jdbc.fanEnabled: FALSE

server:
  forward-headers-strategy: native
  port: 8080

camcat.roles:
  admin-webgroup: in-camcat-admin
  sysadmin-webgroup: in-camcat-sysadmin
  masqueraders-webgroup: in-camcat-masqueraders

audit.application-key: camcat

---

spring.profiles: scheduling
spring.quartz.auto-startup: true

